---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";
import Pagination from "@/components/Pagination.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

type Props = {
  title: string;
  page: Page<CollectionEntry<"zenn">>;
};

const { title, page } = Astro.props;
---
<BaseLayout>
  <h1 class="text-3xl text-left text-headline font-headline font-bold">{ title }</h1>
  <div class="flex flex-col w-full justify-between gap-6 mt-4">
    <div class="text-lg text-left text-body/60">
      Page {page.currentPage} of {page.lastPage} - {page.data.length} posts
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {page.data.map((entry) => (
        <img
          src={entry.data.ogImage}
          alt={entry.data.title}
          class="w-full h-auto cursor-pointer"
          onclick={`location.href='${entry.data.url}'`}
        />
      ))}
    </div>
    <Pagination baseUrl="/zenn" page={page} class="mt-4 mb-2"/>
  </div>
</BaseLayout>